<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <center> <body>
    <div class="container">
      <%= yield %>
    </div> </center>
  </body>
</html>